<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings xdt:Transform="Remove" />
    <connectionStrings configSource="ConnectionsStrings.config" xdt:Transform="Insert">
    </connectionStrings>

  <system.web>
  
      <compilation xdt:Transform="Remove" />
      <compilation debug="false" targetFramework="4.5" xdt:Transform="Insert"  />
  
  </system.web>
  
  <system.net>
    <mailSettings>
      <smtp xdt:Transform="Remove"></smtp>
      <smtp configSource="Smtp.config" xdt:Transform="Insert" >
      </smtp>
  </mailSettings>
  </system.net>

</configuration>
