body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.input-group,
.file-preview {
    max-width: 400px;
}

label.imageRadio input{ /* HIDE RADIO */
  display:none;
}

label.imageRadio > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

label.imageRadio > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.tooltip{
    min-width:80px;
    white-space:pre-wrap;
}
