body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.input-group,
.file-preview {
    max-width: 400px;
}

label.imageRadio input{ /* HIDE RADIO */
  display:none;
}

label.imageRadio > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

label.imageRadio > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.tooltip{
    min-width:80px;
    white-space:pre-wrap;
}

.panel-heading span:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

.collapser {
    cursor: pointer;
    padding: 0;
}

.collapser span {
    display: block;
    padding: 10px 15px;
}

.collapser span.collapsed:after {
    content:"\e080";
}

fieldset {
  padding: .35em .625em .75em;
  margin: 0 0 20px 0;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}

.formFilter input, .formFilter .chosen-container {
    margin-bottom: 10px;
}

.boutonFiltrer {
    display: block;
    clear: both;
}

.fieldsetPhotos {
    background-color: white;
    text-align: center;
    border: 0;
}

.fieldsetPhotos img {
    border: 1px solid #ccc;
}

.fieldsetPhotos div img {
    border: 0;
    vertical-align:middle;
}

.fieldsetPhotos div {
    height: 382px;
    width: 452px;
    border: 1px solid #ccc;
    margin: 0 auto;
    line-height: 377px;
    background-color: white;
}

.fieldsetPhotos a {
    text-decoration: none;
}

.texteDescription {
    font-family:Arial, Verdana;
}

.required:after 
{
    content: "*";
    font-weight: bold;
    color: red; 
}

.toolTipClass .tooltip {
    min-width: 210px !important;
}