@model Motonet.Models.Annonce

@{
    ViewBag.Title = "Annonce postée!";
}

<h2>Votre annonce a bien été postée!</h2>

<h3>Afin de vérifier l'adresse saisie, vous allez recevoir un mail de confirmation sous peu.</h3>

<div>
    @Html.ActionLink("Revenir à la liste des annonces", "Index")
</div>

