@model Motonet.Models.Annonce

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Êtes-vous sûr de vouloir supprimer cette annonce?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Titre)</h4>
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Annuler", "Index")
        </div>
    }
</div>
