@if (ViewBag.supprimee == false)
{
    Html.RenderPartial("~/Views/Annonces/PasswordForm.cshtml");
}
else
{
    ViewBag.Title = "Delete";
    
    <h2>Suppression</h2>

    <h3>L'annonce a bien été supprimée!</h3>

    <div>
        @Html.ActionLink("Revenir à la liste des annonces", "Index")
    </div>

}
