@model Motonet.ViewModels.CreateEditViewModel

@{
    ViewBag.Title = "Modifier mon annonce";
    Layout = "~/Views/Annonces/CreateEdit.cshtml";
}

@if (Model != null)
{
  
@section HiddenFields
{

    @Html.HiddenFor(model => model.Annonce.ID)
    @Html.HiddenFor(model => model.Annonce.MotDePasse)

    @{
        Model.Annonce.ConfirmerMotDePasse = Model.Annonce.MotDePasse;
    }

    @Html.HiddenFor(model => model.Annonce.ConfirmerMotDePasse)

    @Html.ListBoxFor(model => model.Annonce.PhotosID, new MultiSelectList(Model.Annonce.PhotosID), new { @class = "hidden" })

    <input type="hidden" name="password" value=@ViewBag.password>
    
}  

               
@section PhotosActuelles
{
            
    @if (Model.Annonce.Photos.Any())
    {
        <div class="form-group">
            <label class="control-label col-md-2">
                Photos actuelles - Choisir la photo principale
            </label>

            <div class="col-md-10">

                <label class="imageRadio">
                    <input type="radio" name="photoPrincipale" value=@Model.Annonce.Photos.Find(p => p.Taille == Photo.TypeTaille.Miniature && p.Principale == true).ID checked="checked" />
                    <img src="~/Photo?id=@Model.Annonce.Photos.Find(p => p.Taille == Photo.TypeTaille.Miniature && p.Principale == true).ID" alt="Photo non disponible" />
                </label>

                @foreach (Photo photo in Model.Annonce.Photos.FindAll(p => p.Taille == Photo.TypeTaille.Miniature && p.Principale == false))
                {
                                
                    <label class="imageRadio">
                        <input type="radio" name="photoPrincipale" value=@photo.ID />
                        <img src="~/Photo?id=@photo.ID" alt="Photo non disponible" />
                    </label>
                                
                }
            </div>
        </div>
    }
                
}   
    
}           
