@{
    ViewBag.Title = "Message envoyé!";
}

<h2>Votre message a bien été envoyé!</h2>

<h3>Le propriétaire va être mis au courant prochainement.</h3>

<div>
    @Html.ActionLink("Revenir à la liste des annonces", "Index")
</div>

