@{
    ViewBag.Title = "Saisir le mot de passe";
}

@if (ViewBag.actionName != "DeletePassword")
{
    <h2>Saisir le mot de passe de l'annonce</h2>
}
else
{
    <h2>Voulez-vous vraiment supprimer cette annonce?</h2>
    <h3>Saisir le mot de passe de l'annonce pour confirmer</h3>
}


<div>
    @using (Html.BeginForm((string)ViewBag.actionName, "Annonces", FormMethod.Post))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                <div class="col-md-10">
                    <input type="hidden" name="annonceID" value=@ViewBag.AnnonceID>
                    <input type="password" name="password" autofocus="autofocus" />
                    <input type="submit" value="Valider" class="btn btn-default" />
                    @ViewBag.Message
                </div>
            </div>
        </div>
    }
</div>

<div>
    <a class="btn btn-primary" href="@Url.Content("~/Annonces/Details/" + ViewBag.AnnonceID)">< Revenir à l'annonce</a>
</div>
