@model Motonet.Models.Annonce

@{
    ViewBag.Title = "Adresse validée!";
}

<h2>Votre adresse mail est validée.</h2>

<h3>Votre annonce va maintenant être examinée puis validée sous peu.</h3>

<div>
    @Html.ActionLink("Revenir à la liste des annonces", "Index")
</div>

