<h2>A propos</h2>


<p>MotoNet est un projet open source dont le but est l'apprentissage de la technologie ASP.NET MVC</p>
<p>Les sources sont disponibles sur <a href="https://github.com/docv266/Moto.net">https://github.com/docv266/Moto.net</a></p>
