@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Contacter l'admin:</strong>   <a href="mailto:admin@moto-echange.fr">admin@moto-echange.fr</a>

    <p>Vous pouvez me contacter pour toutes remarques concernant ce site.</p>
</address>