@{
    ViewBag.Title = "Mentions Légales";
}
<h2>Editeur</h2>
<p>    <strong>Josselin Dufaud</strong><br />    <a href="mailto:admin@moto-echange.fr">admin@moto-echange.fr</a><br />    33290 Le Pian-Médoc</p>

<h2>Hébergement</h2>
<p>    <strong>OVH</strong><br />    SAS au capital de 10 059 500 €<br />    RCS Lille Métropole 424 761 419 00045<br />    Code APE 6202A<br />    N° TVA : FR 22 424 761 419<br />    Siège social : 2 rue Kellermann - 59100 Roubaix - France.<br />    Directeur de la publication : Octave KLABA<br />    N° Téléphone : 0820 698 765<br /></p>

<h2>Cookies</h2>
<p>    Les cookies de ce site sont utilisés pour retenir les préférences de navigation des utilisateurs.<br />    Les cookies propres à moto-echange.fr sont supprimés lorsque le navigateur internet est fermé.<br /></p>

<h2>Données personnelles</h2>
<p>    Les informations personnelles données lors de la création d'une annonce (adresse mail, téléphone) sont conservées et supprimées avec l'annonce.<br />    Aucune information personnelle n'est stockée au-delà et certainement pas à des fins commerciales.<br />    La façon dont les informations sont stockées et manipulées par moto-echange.fr ne nécessite pas de déclaration auprès de la CNIL.<br /></p>