@{
    ViewBag.Title = "Saisir le mot de passe";
}

<h2>Saisir le mot de passe</h2>

<div>
    @using (Html.BeginForm("PasswordAdminPost", "Home", FormMethod.Post))
    {
        <div class="form-horizontal">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                <div class="col-md-10">
                    <input type="password" name="password" autofocus="autofocus" />
                    <input type="submit" value="Valider" class="btn btn-default" />
                    @ViewBag.Message
                </div>
            </div>
        </div>
    }
</div>
